form {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(236, 232, 232);
    padding-left: 10px;
    border: 2px solid rgb(179, 174, 174);
    border-radius: 5px;
    position: absolute;
    left: 500px;
    top: 100px;

    .input-field {
        border: 2px solid rgb(179, 174, 174);
        border-radius: 5px;
        width: 90%;
        font-size: 16px;
        height: 35px;
        padding-left: 10px;
        margin: 15px 0;
        font-family: Arial, Helvetica, sans-serif;

        
        &:focus {
            outline: rgb(66, 151, 44);
        }
      
    }

    .select-field {
        border-radius: 5px;
        border: 2px solid rgb(179, 174, 174);
        width: 94%;
        font-size: 16px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }

    footer {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
        // .btn {
        //     border-radius: 10px;
        //     background-color: transparent;
        //     font-size: 16px;
        //     height: 40px;
        //     width: 100px;
        //     color: white;
        //     cursor: pointer;
        // }

        .create-btn {
            background-color: rgb(66, 151, 44);
        }
        .create-btn:hover{
            background-color: rgba(65, 151, 44, 0.507);
        }

        .close-form-btn {
            background-color: rgb(202, 40, 40);
        }
        .close-form-btn:hover{
            background-color: rgba(202, 40, 40, 0.521);
        }



}