body {
    display: flex;   
}
.clock_main,
.stopwatch_main, 
.timer_main {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid green;
    padding-bottom: 15px;
    margin: 20px;
    
}
.date_container,
.clock_container {
    border-radius: 5px;
    border: 1px solid green;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.clock_container {
    width: 250px;
    height: 70px;
    font-size: 40px;
}
.date_container {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 28px;

}

.numStyle {
    color: red;
    font-size: 44px;
    margin: 15px;
    display: flex;
    align-items: center;
}
.main_btn_container {
    margin: 0 15px 15px 15px;
}
    .btn {
        width: 50px;
        height: 30px;
    }
.setTimer {
    border-radius: 10px;
    border: 2px solid green;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
    .input {
        width: 30px;
        height: 30px;
        font-size: 24px;
    }
    .setTime_timer_container {
        padding-bottom: 15px;
    }
    .setTime_timer_container span {
        font-size: 20px;
    }