* {
    padding: 0;
    margin: 0;;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 239, 239);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
}
.left_side,
.right_side {
    width: 600px;
    height: 500px;
}
.right_side {

}
#form {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.inputFildHolder {
    position: relative;
    width: 100%;
    border-radius: 5px;

}
.inputFild {
    border: 2px solid rgb(179, 174, 174);
    border-radius: 3px;
    width: 96.7%;
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
    margin: 15px 0;
    margin-left: 5px;
}
.labelStyle {
    font-size: 18px;
    
}
.actionBtn {
    border: 2px solid rgb(66, 151, 44);
    border-radius: 5px;
    background-color: transparent;
    color: rgb(66, 151, 44);
    font-size: 16px;
    height: 40px;
    width: 100px;
}
.actionBtn:hover {
    color: white;
    background-color: rgb(66, 151, 44);
}
table {
    border-collapse: collapse;
    width: 100%;
  }
tr {
    border-bottom: 1px solid rgb(72, 72, 72);
    border-top: 1px solid rgb(72, 72, 72);
    height: 30px;
}
th {
    align-items: center;
}
td {
    padding: 10px 0;

}
.btn {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 7px;
}
.btn:hover {
    opacity: 0.5;
}
.delete_btn {
    background-color: red;
    color: white;
}
.edit_btn {
    background-color: orange;
    color: rgb(29, 29, 29);
}