
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid white;
    background-color: rgb(185, 185, 185);

    .menu {
        display: flex;
        list-style: none;
        
        li {
            padding: 0 15px;

            a {
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                
                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}
