body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .app_header {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        position: fixed;
        top: 10px;
        width: 100%;

            h3 {
                font-size: 28px;
                letter-spacing: 1px;
                font-weight: 700;
            }
    }

    .main_container {
        width: 450px;
        height: 310px;
        background-color: rgb(250, 240, 227);
        margin: 0 auto;

        .main_inner {
            margin: 0 auto;
            width: 98%;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    
    }
}