
 body {
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
}
section {
    width: 100%;
    height: 100%;
    background-image: url(./asets/img/blocnot.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
}
h3 {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0;
    
}
.container {
    /* border: 1px solid black; */
    height: 400px;
    width: 300px;
    margin: 20px;
    margin-top: 70px;
}
    .rightSide__inputFild {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .input-field {
            border: none;
            border-bottom: 2px solid black;
            background-color: transparent;
            font-size: 20px;
        }
        .input-field :action {
            border: none;

        }
    .leftSide__list {

    }
        .list {
            font-size: 20px;
            list-style: none;
            padding: 0;
            margin: 0;
            
        }
            li {
                padding-bottom: 5px;
            }
            .removing__item {
                cursor: pointer;
                color: red;
                font-weight: 700;
                
            }
            
.action-btn {
    font-size: 20px;
    font-style: italic;
    border: 2px solid hsl(197, 74%, 64%);
    border-radius: 5px;
    background-color: rgb(245, 236, 204);
    padding: 5px;
    margin: 20px;
    cursor: pointer;
}
