* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
}
.container,
.row {
    width: 800px;
}
.row {
    display: flex;
    justify-content: space-between;
} 
.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    height: 45px;
    width: 50px;
    margin: 3px;
    border-radius: 5px;
    border: none;
    background: #ffffff;
    color: #303030;
    font-size: 20px;
    outline: none;
    cursor: pointer;
        display: inline-block;
        align-items: center;
        justify-content: center;
}

button:active {
    background-color: rgb(133, 133, 133);
}

.backspace,
.tab,
.capsLock,
.enter,
.shift,
.space {
    font-size: 20px;
    text-transform: capitalize;
}
.backspace { 
    width: 120px; 
}
.tab {
    width: 110px;
}
.capsLock {
    width: 130px;
}
.enter {
    width: 130px;
}
.shift { 
    width: 140px; 
}
.space{ 
    width: 100%; 
}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
textarea {
    width: 800px;
    height: 200px;
    color: rgb(44, 44, 44);
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    resize: none;
    padding: 15px;
    font-size: 15px;
}


.upper { text-transform: uppercase; }